// list07
section.list_07(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		ul.article
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/77902', target='_blank', data-imgload='img/article/l_07/01.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/77902', target='_blank')
						h3 【跨經典】方大同＜紅豆＞一洗腦就是 10 年！7 張讓你「唱不停」的華語經典翻唱專輯
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/78208', target='_blank', data-imgload='img/article/l_07/02.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/78208', target='_blank')
						h3 【跨經典】令全世界女人著迷的低調精品 CÉLINE ！回顧 Phoebe Philo 十年來創造的 CÉLINE 經典手袋
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/78093', target='_blank', data-imgload='img/article/l_07/03.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/78093', target='_blank')
						h3 【跨經典】少女心中一定都有「江直樹」！票選「重播也不厭倦」偶像劇 Top 5　你都看過嗎？
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/78125', target='_blank', data-imgload='img/article/l_07/04.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/78125', target='_blank')
						h3 【跨經典】什麼都聯什麼也不奇怪！盤點五個「作夢都想不到」的聯名系列
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/78091', target='_blank', data-imgload='img/article/l_07/05.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/78091', target='_blank')
						h3 【跨經典】看了會起雞皮疙瘩！這幾個「NBA 總冠軍賽經典時刻」值得你一再回味！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/78172', target='_blank', data-imgload='img/article/l_07/06.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/78172', target='_blank')
						h3 【跨經典】想購入人生第一件奢侈品？這 10 個「最值得男性投資」的品牌你必須知道！
// list07 end